.component-emoji-result-row {
    padding: 10px;
    height: 60px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.component-emoji-result-row .emoji {
    font-size: 60px;
}

.component-emoji-result-row .title {
    font-size: 10px;
}

.component-emoji-result-row .emoji .tooltip-text-copy {
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;
    padding: 3px;
}

.component-emoji-result-row .emoji .tooltip-text-copied {
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;
    padding: 3px;
}

.component-emoji-result-row:hover .tooltip-text-copy {
    visibility: visible;
}

.component-emoji-result-row:active .tooltip-text-copied {
    visibility: visible;
}

.component-emoji-result-row:active .tooltip-text-copy {
    visibility: visible;
}